* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#top-bar {
    user-select: none;
    border-bottom: 2px solid grey;
    margin-bottom: 0;
}

#tab-bar {
    height: 50px;
    width: calc(100vw - 55px);
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
}

/** added to tab-bar when arrows show up to make room for the arrows **/
.margin-left {
    width: calc(100vw - 105px) !important;
    margin-left: 50px;
    border-left: solid 1px grey;
    border-right: solid 1px grey;
}

#tab-bar::-webkit-scrollbar {
    display: none;
}

#tabs {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding-left: 5px;
}

#scroll-button-left {
    position: absolute;
    left: 15px;
}

#scroll-button-right {
    position: absolute;
    right: 20px;
}

.scroll-buttons {
    width: 30px;
    height: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 3px;
    padding-left: 3px;
}

.scroll-buttons:hover {
    background:rgba(211, 211, 211, 0.6);
    border-radius: 4px;
}

.hide {
    display: none;
}

.tab {
    height: 40px;
    display: flex;
    align-items: center;
    padding-right: 2px;
    width: clamp(60px, 12vw, 200px);
    border-radius: 4px;
    background: rgb(218, 215, 215);
    border: white 1px;
    overflow: hidden;
    transition: 0.1s cubic-bezier(1, 0, 0, 1);
}

.favicon {
    aspect-ratio: 1/1;
    width: 16px;
    height: 16px;
}

.title {
    display: flex;
    gap: 4px;
    align-items: center;
    text-overflow: clip;
    -webkit-mask-image: linear-gradient(90deg, #000 82%, transparent);
    white-space: nowrap;
    overflow: hidden;
    flex-grow: 1;
    padding-left: 8px;
    padding-top: 100%;
    padding-bottom: 100%;
}

.close-tab {
    background: none;
    outline: none;
    border: none;
    border-radius: 2px;
    font-size: 20px;
    aspect-ratio: 1/1;
}

.close-tab:hover {
    background: rgb(235, 235, 235);
}

#add-tab {
    background: none;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    font-size: 20px;
    margin-left: 5px;
    aspect-ratio: 1/1;
}

#add-tab:hover {
    background:rgb(235, 235, 235);
}

#controls {
    background: rgba(211, 211, 211, 0.6);
    padding-left: 1vw;
    padding-right: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    height: 50px;
}

.control-buttons {
    background: none;
    outline: none;
    border: none;
    border-radius: 2px;
    aspect-ratio: 1/1;
    font-size: 20px;
}

.control-buttons:hover {
    background:rgba(243, 243, 243, 0.6);
}

.unusable {
    filter: invert(70%); /** turns black images into grey **/
}

.unusable:hover {
    background: none;
}

#searchForm {
    position: relative;
    flex-grow: 1;
    display: flex;
    padding-left: 4px;
    margin-bottom: 0;
    max-width: 70vw;
    transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#searchBar {
    flex-grow: 1;
    height: 30px;
    border: white;
    padding: 9px 4px 9px 30px;
    border-radius: 6px;
    transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#search-icon {
    position: absolute;
    top: 7px;
    left: 10px;
}

#searchBar::placeholder {
    color: #bbb;
}

#searchBar:hover {
    outline: none;
    max-width: 71vw;
    border: grey;
    border-radius: 5px;
}

#searchBar:focus {
    outline: none;
    max-width: 72vw;
    box-shadow: white 0 0 10px;
    border-radius: 4px;
}

#search-bar-icon {
    position: absolute;
    left: 5px;
}


#settings {
    font-size: 34px;
}
